body {
    font-family: 'Roboto Slab', serif;
    padding: 15px;
}

h1,h2,h3 {
    font-family: 'Comfortaa', cursive;
    font-family: 'Roboto Slab', serif;
}

span {
    color: #76C27E;
}

.side-img {
    width: 480px;
}
.btn-color {
    background-color: #2A1E59;
    color: white;
    border-radius: 15px;
}
.nav-item a{
    color:black;
    font-size: 18px;
}

.font-sizing {
    font-size: 75px;
}

.bg-color{
    background-color: #FFFFF4;
}

.round {
    border-radius: 20px;
}

.card-img {
    width: 120px;
}

.accesories-img {
    width: 100px;
}
.div-col-border {
    background-color: #F1F1F1;
    border-radius: 25px;
}

.card-footer {
    background-color: white;
    border-top: none;
}

.footer-sec{
    height: 400px;
    background-image: linear-gradient(45deg,#b007b0,#db9b9b);
    color: white;
}

@media (max-width: 800px) {
    .side-img {
        width: 150px;
        margin-left: -90px;
    }
    .banner-img {
        width: 250px;
        margin-right: 0px;
    }
    .top {width: 50px;}
    .card-img {
        width: 80px;
        height: 80px;
    }
    .top-name {
        font-size: 30px;
        
    }
}

@media (max-width: 1212px) {
    .side-img {
        width: 250px;
        margin-left: -90px;
    }
    .card-img {
        width: 80px;
        height: 80px;
    }
}